fastapi[standard]
google-cloud-vision
google-cloud-storage
pdf2image
Pillow
python-multipart
pytest
pytest-asyncio
supabase
sqlalchemy
pydantic-settings
psycopg2-binary
python-docx
filetype
google-genai
requests
langchain
langchain-google-genai
langchain-community
tenacity
tqdm
pydantic
pypdf
stripe
